<div class="comment-box">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div>
            <input id="name" type="text" formControlName="name" placeholder="Your name">
        </div>
        <div>
            <input id="email" type="email" formControlName="email" placeholder="Your email">
        </div>
        <div>
            <input id="comment" type="text" formControlName="comment" placeholder="Your comment here...">
        </div>
        <button type="submit" [disabled]="!commentForm.valid">Submit</button>
    </form>
</div>